/**
 * Load fonts
 * https://fonts.google.com/specimen/Jost
 */

@font-face {
  font-family: 'Jost';
  src: local( 'Jost*' ),
    url( '../admin/fonts/Jost/Jost-Regular.woff2' ) format( 'woff2' ),
    url( '../admin/fonts/Jost/Jost-Regular.woff' ) format( 'woff' ),
    url( '../admin/fonts/Jost/Jost-Regular.ttf' ) format( 'truetype' );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local( 'Jost*' ),
    url( '../admin/fonts/Jost/Jost-Bold.woff2' ) format( 'woff2' ),
    url( '../admin/fonts/Jost/Jost-Bold.woff' ) format( 'woff' ),
    url( '../admin/fonts/Jost/Jost-Bold.ttf' ) format( 'truetype' );
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local( 'Jost*' ),
    url( '../admin/fonts/Jost/Jost-Italic.woff2' ) format( 'woff2' ),
    url( '../admin/fonts/Jost/Jost-Italic.woff' ) format( 'woff' ),
    url( '../admin/fonts/Jost/Jost-Italic.ttf' ) format( 'truetype' );
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Jost';
  src: local( 'Jost*' ),
    url( '../admin/fonts/Jost/Jost-BoldItalic.woff2' ) format( 'woff2' ),
    url( '../admin/fonts/Jost/Jost-BoldItalic.woff' ) format( 'woff' ),
    url( '../admin/fonts/Jost/Jost-BoldItalic.ttf' ) format( 'truetype' );
  font-weight: bold;
  font-style: italic;
}

#cpt-theme-options {
  font-family: Jost;
  font-variant-ligatures: common-ligatures;
}

#cpt-theme-header {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 120px 1fr;
  margin-bottom: 15px;
}

  #cpt-theme-header * {
    align-self: center;
  }

  #cpt-theme-header h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.1;
    padding-top: 0;
  }

  #cpt-theme-header p {
    color: gray;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
  }

#cpt-theme-options h2 {
  font-size: 23px;
}
