// These block styles are not yet available (or stable) in theme.json.
.wp-block-post-title {
  font-size: $font-size-xl;
}

// https://github.com/WordPress/gutenberg/issues/34853
.wp-block-button {
  &.is-style-outline {
    .wp-block-button__link {
      padding: .5em 1em;
    }
  }

  &.has-xs-font-size > .wp-block-button__link,
  &.has-sm-font-size > .wp-block-button__link {
    border-width: 1.5px;
  }
}

.wp-block-button__link {
  transition: box-shadow .2s;

  &:hover {
    &:not(:active) {
      box-shadow: $box-shadow;
    }
  }
}

.wp-block-cover {
  h1, h2, h3, h4, h5, h6,
  p {
    text-shadow: $text-shadow;
  }
}

.wp-block-latest-comments {
  padding-left: 0;
}

.wp-block-quote {
  cite {
    color: $light-text;
    font-size: 80%;
    line-height: $line-height-sm;
  }
}

.wp-block-search {
  .wp-block-search__input {
    border-radius: 0;
    padding: .25em .5em;
  }

  .wp-block-search__button {
    background-color: inherit;
    border: $button-border;
    color: DarkSlateGray;
    margin-left: .25em;
    padding: .25em 1em;
  }
}
