// These block styles are not yet available (or stable) in theme.json.

// https://github.com/WordPress/gutenberg/issues/34853
.wp-block-button {
  &.has-xs-font-size > .wp-block-button__link {
    border-width: var(--wp--custom--border--width--buttons-xs);
  }

  &.has-sm-font-size > .wp-block-button__link {
    border-width: var(--wp--custom--border--width--buttons-sm);
  }
}

.wp-block-cover,
.wp-block-group {
  &.has-background {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
    padding: $spacing-lg $spacing-sm;
  }
}

.wp-block-list {
  li::marker {
    color: $light-text;
  }
}

.wp-block-pullquote {
  padding: 0;

  blockquote {
    margin: 0;
  }
}