.alignwide {
 	margin-right: calc(-11 * $tenpx);
  margin-left: calc(-11 * $tenpx);
 	max-width: calc(100% + (22 * $tenpx));
 	width: calc(100% + (22 * $tenpx));

  @media (max-width: calc($max-width + (22 * $tenpx))) {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
   	max-width: 100vw;
   	width: 100vw;
  }
}

.alignfull {
 	margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
 	max-width: 100vw;
  padding-right: $spacing-regular;
  padding-left: $spacing-regular;
 	width: 100vw;

  &.wp-block-group {
    & > * {
      margin-right: auto;
      margin-left: auto;
      max-width: calc($content-size - (2 * $spacing-regular));
    }
  }
}

.alignright {
  float: right;
  margin-left: 1em;
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.has-background {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;

  & > *:first-child {
    margin-top: unset;
  }

  & > *:last-child {
    margin-bottom: unset;
  }

  &:not(.alignfull),
  &:not(.alignfull) {
    padding-right: $spacing-md;
    padding-left: $spacing-md;
  }
}

.is-style-card,
.is-style-card,
.is-style-card, {
  background-color: $page-color;
  box-shadow: $box-shadow;

  & > *:first-child {
    margin-top: unset;
  }

  & > *:last-child {
    margin-bottom: unset;
  }

  &:not(.wp-block-image) {
    padding: $spacing-md;
  }
}

.wp-block-button.is-style-big-button {
  .wp-block-button__link {
    font-size: $normal;
    padding: $spacing-sm $spacing-regular;
    text-decoration: none;
  }
}

.wp-block-quote {
  & > * {
    font-size: revert;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
