.comment-count {
  .comments-icon {
    display: inline-block;
    height: 1em;
    position: relative;
      top: .15em;
    width: 1em;

    svg {
      fill: $light-text;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      
      svg {
        fill: $link-hover;
      }
    }
  }
}

.comments-list {
  list-style: none;
  padding: 0;

  .comment {
    display: block;
    margin: 2em 0;

    .reply {
      font-size: $font-size-sm;

      a {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
  }

  .comment-author {
    align-items: center;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: .5em;

    .avatar {
      border-radius: 9999px;
      margin-right: .25em;
    }

    & > *:not(.avatar):not(:last-child)::after {
      content: "\00a0";
    }
  }

  .comment-meta {
    color: $light-text;
    font-size: $font-size-xs;
  }

  .children {
    border-left: 1px solid var(--menu-border-color);
    list-style: none;
    margin: 1em 0;
    padding-left: 1em;
  }
}

.comment-body {
  font-size: $font-size-sm;
}

.reply a,
#cancel-comment-reply-link {
  border-width: var(--wp--custom--border--width--buttons-xs);
  color: $light-text;
  display: inline-block;
  font-size: $font-size-xs;
  font-weight: normal;
  line-height: $line-height-sm;
}

.comment-respond {
  .comment-reply-title {
    align-items: center;
    display: flex;
    font-size: $font-size-md;
    gap: .5em;
  }

  .logged-in-as {
    font-size: $font-size-xs;
  }

  .comment-form {
    margin: $spacing-xxs 0;

    label {
      font-size: $font-size-sm;
      font-weight: bold;
      text-transform: uppercase;
    }

    .comment-field {
      width: 100%;
    }
  }

  .comment-form-cookies-consent {
    label {
      display: revert;
    }
  }

  .form-submit {
    margin-top: 0;

    input[type="submit"] {
      margin-top: 0;
    }
  }
}

.show-avatars {
  .comment-content,
  .comment-meta,
  .comments-list .comment-respond,
  .reply {
    padding-left: $spacing-md;
  }
}