.site-content__inner {
  margin: 0 auto $spacing-xl auto;
  max-width: $content-width;
  padding: 0 $spacing-regular;

  & > *:first-child {
    margin-top: 0;
  }
}

.page-header {
  margin-top: 3em;

  &.has-background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding: 9em $spacing-regular 3em $spacing-regular;

    & > * {
      margin-right: auto;
      margin-left: auto;
      max-width: $content-width;
      width: calc($content-width - (2 * $spacing-regular));
    }

    .entry-title {
      color: White;
      font-size: $font-size-huge;
      text-shadow:
        1px 1px 0 rgba(0, 0, 0, 25%),
        0 0 25px Black;
      ;
    }
  }
}

.entry-byline {
  color: $light-text;
  font-size: $font-size-sm;
  margin: 1em 0;
}

.comment-count {
  .comments-icon {
    display: inline-block;
    height: 1em;
    position: relative;
      top: .15em;
    width: 1em;

    svg {
      fill: $light-text;
    }
  }
}


// Blog & Post Archives
.blog,
.archive,
.search {
  article {
    margin-bottom: $spacing-lg;

    .post-title {
      margin-top: 0;
    }

    .entry-byline {
      margin-bottom: 0;
    }

    &.has-post-thumbnail {
      align-items: center;
      display: grid;
      grid-gap: $spacing-regular;
      grid-template-columns: 40% 1fr;

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.is-singular {
  .entry-footer {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
  }
}