*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
}

/**
 * Content
 */
.site-content__inner {
  margin: $spacing-lg auto $spacing-xl auto;
  max-width: $max-width;
  padding: 0 $spacing-regular;

  & > *:first-child {
    margin-top: 0;
  }
}

.post {
  margin-bottom: $spacing-xl;
}

.single {
  .entry-title {
    a {
      text-decoration: none;

      &:not(:hover) {
        color: $headings;
      }
    }
  }
}

.entry-byline {
  color: $light-text;
  font-size: $font-size-small;
  margin: $spacing-regular 0;
}

.pagination,
.post-nav-links {
  font-family: $headings;
  font-variant-numeric: lining-nums tabular-nums;
  margin: 1em 0;
}

.nav-links {
  * {
    display: inline-grid;
    place-content: center;
  }

  *:not(.dots) {
    border-radius: 9999px;
  }

  *:not(.prev):not(.next) {
    padding: $spacing-xs;
    min-width: 1em;
  }

  .prev,
  .next {
    padding: $spacing-xs calc(2.5 * $tenpx);
  }

  .current {
    background-color: $light-text;
    border: 2px solid $light-text;
    color: White;
  }

  .dots {
    padding: $spacing-xs 0;
  }

  a   {
    border: 2px solid $link;
    transition: background-color .2s, box-shadow .2s;
  }

  a:hover {
    border-color: $link-hover;
    box-shadow: $box-shadow;
    color: $link-hover;
    text-decoration: none;
  }
}


/**
 * Index
 */
.blog {
  .post {
    .post-title {
      font-size: $font-size-medium;
      margin-top: 0;
    }

    .excerpt {
      font-size: $font-size-small;
    }

    .entry-byline {
      margin-bottom: 0;
    }

    &.has-post-thumbnail {
      align-items: center;
      display: grid;
      grid-gap: $spacing-regular;
      grid-template-columns: 40% 1fr;

      @media (max-width: $breakpoint-sm) {
        display: block;

        .wp-post-image {
          height: auto;
          margin-bottom: $spacing-regular;
          width: 100%;
        }
      }
    }
  }
}
