@use 'variables' as *;

.page-header {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-sm;

  &.has-background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding: $spacing-xxl $spacing-sm $spacing-md $spacing-sm;

    .entry-title {
      color: White;
      font-size: $font-size-huge;
      line-height: $line-height-sm;
      text-shadow:
        1px 1px 0 rgba(0, 0, 0, 25%),
        0 0 25px Black;
      ;
    }
  }

  .term-description {
    padding: $spacing-lg $spacing-sm;
  }
}

.has-cover {
  .page-header {
    margin-top: 0;
    margin-bottom: 0;

    .entry-title {
      height: 1px;
      overflow: hidden;
      position: absolute;
        left: -9999px;
        top: auto;
      width: 1px;
    }
  }

  .wp-block-cover:first-child {
    margin-top: 0;
  }
}

.post-title {
  a {
    &:not(:hover) {
      color: $headings;
    }
  }
}

.post-terms {
  font-size: $font-size-xs;

  .post-tag {
    border-color: currentColor;
    border-radius: $button-border-radius;
    border-style: solid;
    border-width: $border-width;
    display: inline-block;
    padding: .125em .625em;
    text-decoration: none;

    &:not(:hover, .post-category) {
      color: $light-text;
    }
  }

  .post-category {
    background-color: $light-text;
    border-color: $light-text;
    color: white;
    
    &:hover {
      background-color: $link-hover;
      border-color: $link-hover;
      color: white;
    }
  }
}

.entry-byline {
  color: $light-text;
  font-size: $font-size-sm;
}

.entry-content {
  margin-bottom: $spacing-sm;
}

.entry-footer {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;
}

.blog,
.archive,
.search {
  article {
    &:first-child {
      margin-top: $spacing-lg;
    }

    &:where(:not(:first-child)) {
      margin-top: $spacing-lg;
    }
  
    &:where(:not(:last-child)) {
      margin-bottom: $spacing-lg;
    }
  }

  .post-title {
    margin-top: 0;
    margin-bottom: $spacing-xxs;
  }

  .excerpt {
    margin-top: $spacing-xxs;
    margin-bottom: $spacing-xxs;
  }

  .entry-footer {
    margin-top: 0;
    margin-bottom: 0;
  }

  .entry-byline {
    margin-top: $spacing-xxs;
    margin-bottom: 0;
  }

  .has-post-thumbnail {
    align-items: center;
    display: grid;
    gap: $spacing-md;
    grid-template-columns: 40% 1fr;

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
      gap: $spacing-sm;
    }

    .title-excerpt-footer__container {
      padding-top: $spacing-sm;
      padding-bottom: $spacing-sm;

      @media (max-width: $breakpoint-sm) {
        padding: 0;
      }
    }

    .wp-post-image__container {
      align-items: center;
      align-self: stretch;
      display: grid;
      position: relative;
    
      &::after {
        background-color: $gray-wash;
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
      }
    }
  }
}
