.site-content__inner {
  margin: $spacing-lg auto $spacing-xl auto;
  max-width: $content-width;
  padding: 0 $spacing-regular;

  & > *:first-child {
    margin-top: 0;
  }
}

.site-main > * {
  margin-bottom: $spacing-xl;
}


// Byline
.entry-byline {
  color: $light-text;
  font-size: $font-size-small;
  margin: 1em 0;
}


// Blog & Post Archives
.blog,
.archive,
.search {
  article {
    .post-title {
      margin-top: 0;
    }

    .entry-byline {
      margin-bottom: 0;
    }

    &.has-post-thumbnail {
      align-items: center;
      display: grid;
      grid-gap: $spacing-regular;
      grid-template-columns: 40% 1fr;

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
      }
    }
  }
}
