html {
  font-family: sans-serif;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
}


/**
 * Images
 */

img {
  height: auto;
  max-width: 100%;
}

.wp-caption {
  height: auto;
  max-width: 100%;
}



/**
 * Content
 */

#content-container {
  margin: calc(4 * $tenpx) auto calc(6 * $tenpx) auto;
  max-width: $max-width;
  padding: 0 calc(2 * $tenpx);

  &.has-sidebar {
    display: grid;
    grid-gap: calc(4 * $tenpx);
    grid-template-columns: 2fr 1fr;
  }

  @media ( max-width: $max-width ) {
    display: block;
  }
}

#content {
  & > *:first-child {
    margin-top: 0;
  }
}

#sidebar {
  list-style: none;
  margin: 0;
  padding: 0;

  & > *:first-child h1,
  & > *:first-child h2,
  & > *:first-child h3,
  & > *:first-child h4,
  & > *:first-child h5,
  & > *:first-child h6 {
    margin-top: 0;

    @media ( max-width: $max-width ) {
      margin-top: revert;
    }
  }

  @media ( max-width: $max-width ) {
    display: grid;
    grid-gap: calc(4 * $tenpx);
    grid-template-columns: repeat( 3, 1fr );
  }

  @media ( max-width: 900px ) {
    grid-template-columns: repeat( 2, 1fr );
  }

  @media ( max-width: 600px ) {
    grid-template-columns: 1fr;
  }
}

.post {
  margin-bottom: calc(6 * $tenpx);
}

.single .post-title {
  margin-bottom: 0;

  a,
  a:visited {
    color: var( --heading-color );
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: var( --link-color-hover );
  }
}

.post.has-post-thumbnail {
  .thumbnail-excerpt-container {
    display: grid;
    grid-column-gap: calc(2 * $tenpx);
    grid-template-areas: 'thumbnail excerpt';
    grid-template-columns: max-content auto;
  }

  .wp-post-image {
    grid-area: thumbnail;
  }

  .excerpt-container {
    grid-area: excerpt;
  }
}

.post-byline {
  color: var( --text-color-light );
  font-size: $small;
  margin: 1em 0;
}

.pagination,
.post-nav-links {
  font-family: var( --heading-font );
  font-variant-numeric: lining-nums;
}

.nav-links {
  * {
    display: inline-block;
  }

  *:not( :last-child ) {
    margin-right: .25em;
  }

  *:not( .dots ) {
    border-radius: 9999px;
    padding: calc(.75 * $tenpx) calc(2.5 * $tenpx);
  }

  .current {
    background-color: var( --text-color-light );
    border: 2px solid var( --text-color-light );
    color: White;
  }

  .dots {
    padding: calc(.75 * $tenpx) 0;
  }

  a,
  a:visited   {
    border: 2px solid var( --link-color );
    transition: background-color .2s, box-shadow .2s;
  }

  a:hover,
  a:focus {
    border-color: var( --link-color-hover );
    box-shadow: $box-shadow;
    color: var( --link-color-hover );
    text-decoration: none;
  }
}
