// These style properties are not yet available (or stable) in theme.json.

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: $gray-wash;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.entry-content,
.editor-styles-wrapper,
.site-footer {
  dd,
  ol,
  pre,
  ul {
    margin-bottom: 1em;
  }

  dd,
  ol,
  ul {
    padding-left: 2em;
  }

  dd,
  li,
  pre {
    line-height: $line-height-normal;
  }

  li {
    &:not(:last-child) {
      margin-bottom: .5em;
    }

    &:first-child {
      margin-top: .5em;
    }
  }

  cite {
    color: var(--text-color-light);
    line-height: $line-height-small;
  }

  code,
  pre {
    font-family: monospace;
  }
}
