.site-footer {
  background-color: rgba( 0, 0, 0, .1 );
  margin: 4em 0 0 0;

  .developer {
    opacity: .5;

    &:hover {
      opacity: revert;
    }
  }
}

.site-footer__inner {
  margin-right: auto;
  margin-left: auto;
  max-width: $max-width;
  padding: 1em;
}

#footer-widgets {
  font-size: 90%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-small;
  gap: 1em;
  justify-content: space-between;
}
