.site-footer {
  background-color: $gray-wash;

  h2,
  h3 {
    font-size: $font-size-lg;
  }

  .developer:not(:hover) {
    opacity: .5;
  }
}

#footer-widgets {
  align-items: start;
  list-style: none;
  padding-left: unset;
}

.footer-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-sm;
  gap: $spacing-sm;
  justify-content: space-between;
}
