label {
  display: block;
}

input,
select,
textarea {
  border: $border;
  border-radius: 0;
  font-weight: normal;
  padding: .25em .5em;
}

button,
.button,
input[type="submit"] {
  border: $button-border;
  border-radius: 9999px;
  color: DarkSlateGray;
  cursor: pointer;
  font-family: $headings;
  padding: .25em 1em;
  text-decoration: none;
  transition: box-shadow .2s;
  -webkit-appearance: none;

  &:hover {
    text-decoration: none;

    &:not(:active) {
      box-shadow: $box-shadow;
    }
  }
}
