@use 'variables' as *;

.site-preheader {
  background-color: var(--wp--preset--color--secondary);
}

.site-header {
  box-shadow: $box-shadow;

  &.has-custom-logo {
    .site-branding {
      align-items: center;
      display: flex;
      gap: $spacing-xs;
    }

    .site-logo {
      min-width: 50px;
    }
  }

  @media (min-width: $breakpoint-sm) {
    .sticky-header-spacer {
      display: none;
    }
  
    &.sticky-nav {
      .sticky-header-spacer {
        display: block;
        height: var(--header-height);
      }
  
      .site-header-primary-nav {
        box-shadow: $box-shadow;
        position: fixed;
  
        @media (max-width: $breakpoint-sm) {
          top: 0;
        }
      }
    }
  }
}

// Site Title & Branding
.site-header-primary-nav {
  background-color: var(--wp--preset--color--primary);
    top: 0;
  position: relative;
  width: 100%;
  z-index: 10;
}

.site-header-primary-nav__inner {
  display: flex;
  gap: $spacing-sm;
  grid-template-columns: minmax(auto, max-content) minmax(min-content, 1fr);

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.site-logo {
  display: block;
  font-size: 0;
  line-height: 0;

  img {
    display: block;
    font-size: $font-size-sm;
  }
}

.site-title {
  display: block;
  font-size: $font-size-xl;
  font-weight: bold;
  line-height: $line-height-sm;
  margin: 0 0 .1em 0;
  padding: 0;

  a {
    display: block;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;;

    &:not(:hover) {
      color: $headings;
    }
  }
}

.site-description {
  color: $light-text;
  display: block;
  font-weight: normal;
  line-height: $line-height-sm;
  margin: 0 0 .1em 0;
  padding: 0;
}
