/**
 * Site Title & Branding
 */
.site-header-primary-nav {
  background-color: rgba(0, 0, 0, .2);
  background: radial-gradient(circle, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .1) 100%);
  box-shadow: $box-shadow;
  display: grid;
  grid-gap: calc(2 * $tenpx);
  grid-template-columns: minmax(auto, max-content) minmax(min-content, 1fr);
  margin: 0;
  padding: $tenpx calc(2 * $tenpx);
  position: relative;

  &.has-custom-logo {
    .site-branding {
      align-items: center;
      display: grid;
      grid-gap: calc(2 * $tenpx);
      grid-template-columns: repeat(2, max-content);
    }
  }
}

.site-logo {
  display: block;
}

.site-title {
  display: block;
  font-family: var( --heading-font );
  font-size: $x-large;
  font-weight: bold;
  line-height: $line-height-small;
  margin: 0 0 .1em 0;
  padding: 0;

  a,
  a:visited {
    color: var( --text-color );
    display: block;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: var(--link-color-hover);
  }
}

.site-description {
  color: var( --text-color-light );
  display: block;
  font-family: var( --heading-font );
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .1em 0;
  padding: 0;
}


/**
 * Header Menus & CTA
 */
.menu,
.sub-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  a,
  a:visited {
    align-self: center;
    color: var( --menu-text-color );
    display: block;
    font-family: var( --heading-font );
    white-space: nowrap;
  }

  a:hover,
  a:focus {
    color: var( --link-color-hover );
  }

  & > .menu-item {
    margin: 0;
    position: relative;

    &:last-child {
      margin-right: unset;
    }
  }

  .menu-item-has-children > a::after {
    content: '\02009\0002B';
  }

  & > .menu-item-has-children {
    &  > .sub-menu {
      background-color: WhiteSmoke;
      border: 1px solid var( --menu-border-color );
      box-shadow: $box-shadow;
      padding: $tenpx calc(2 * $tenpx);
      position: absolute;
        left: -9999px;
      transform: translateX( -50% );
      z-index: 10;
    }

    &:hover,
    &:focus {
      & > .sub-menu {
        font-size: $small;
        left: 50%;
      }
    }
  }
}

.sub-menu > .menu-item {
  display: block;
  margin-bottom: .25em;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
  }

  .sub-menu {
    background-color: unset;
    border: unset;
    box-shadow: unset;
    color: var( --menu-border-color );
    display: block;
    list-style-type: disc;
    margin: 0 0 0 calc(2 * $tenpx);
    padding: 0;
    position: unset;

    .menu-item {
      display: list-item;
    }
  }
}

.primary-menu-container {
  display: grid;
}

.show-header-cta {
  .primary-menu-container {
    grid-gap: calc(2 * $tenpx);
    grid-template-columns: minmax(0, 1fr) max-content;
  }
}

#primary-menu {
  display: grid;
  place-self: center stretch;
  place-items: center end;

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc(2 * $tenpx);

    & > .menu-item-has-children:hover > .sub-menu,
    & > .menu-item-has-children:focus > .sub-menu,
    .collapsed-menu:hover > .sub-menu,
    .collapsed-menu:focus > .sub-menu {
      @media (max-width: $breakpoint-sm) {
          right: calc(-2 * $tenpx);
        transform: revert;
        width: 100vw;
      }
    }
  }

  & > .menu-item-has-children {
    &:hover > .sub-menu,
    &:focus > .sub-menu {
      left: 50%;
    }
  }

  .sub-menu {
    box-sizing: border-box;
  }

  .collapsed-menu {
    & > i {
      color: var(--link-color);
      cursor: pointer;
      font-weight: bold;
      letter-spacing: .15em;
    }

    &:hover > .sub-menu,
    &:focus > .sub-menu {
      right: 0;
      left: revert;
      transform: revert;
    }
  }
}

#secondary-menu {
  background-color: rgba( 0, 0, 0, .1 );
  font-size: $small;
  margin-bottom: calc(4 * $tenpx);
  padding: $tenpx calc(2 * $tenpx);

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: $tenpx calc(2 * $tenpx);

    & > .menu-item-has-children:first-child > .sub-menu {
      position: absolute;
        left: 0;
      transform: unset;
    }
  }
}

@keyframes pulse {
  from { transform: scale3d(1, 1, 1); }
  50% { transform: scale3d(1.1, 1.1, 1.1); }
  to { transform: scale3d(1, 1, 1); }
}

#header-cta {
  align-self: center;
  animation: pulse 1s ease-in-out .5s 1 running;
  background-color: var(--header-cta-button-color);
  border-color: var(--header-cta-text-color);
  color: var(--header-cta-text-color);
  font-size: $normal;
  margin: 0;
  width: max-content;
}


/**
 * Breadcrumbs
 */
#breadcrumbs {
  color: var(--text-color-light);
  font-family: var(--heading-font);
  font-size: $x-small;
  margin: calc(4 * $tenpx) auto;
  padding: $tenpx calc(2 * $tenpx);
  max-width: $max-width;

  .last-breadcrumb {
    color: var(--text-color);
    font-weight: bold;
  }
}
