.site-header-primary-nav {
  background-color: rgba(0, 0, 0, .2);
  background: radial-gradient(circle, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .1) 100%);
  box-shadow: $box-shadow;
  display: grid;
  grid-gap: calc(2 * $tenpx);
  grid-template-columns: max-content 1fr;
  margin: 0;
  padding: $tenpx calc(2 * $tenpx);
  position: relative;

  &.has-custom-logo {
    .site-branding {
      align-items: center;
      display: grid;
      grid-gap: calc(2 * $tenpx);
      grid-template-columns: repeat(2, max-content);
    }
  }
}

.site-title-container {
  & > *:first-child:not(:last-child) {
    margin-bottom: $tenpx;
  }
}

.site-title {
  display: block;
  font-family: var( --heading-font );
  font-size: $x-large;
  font-weight: bold;
  line-height: $line-height-small;
  margin: 0;
  padding: 0;

  a,
  a:visited {
    color: var( --text-color );
    display: block;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: var(--link-color-hover);
  }
}

.site-description {
  color: var( --text-color-light );
  display: block;
  font-family: var( --heading-font );
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  from { transform: scale3d(1, 1, 1); }
  50% { transform: scale3d(1.1, 1.1, 1.1); }
  to { transform: scale3d(1, 1, 1); }
}

#header-cta {
  align-self: center;
  animation: pulse 1s ease-in-out .5s 1 running;
  background-color: var(--header-cta-button-color);
  border-color: var(--header-cta-text-color);
  color: var(--header-cta-text-color);
  font-size: $normal;
  margin: 0;
  width: max-content;
}
