// @use 'variables' as *;

.cpt-icon {
	background-position: contain;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	height: 1em;
	width: 1em;

	&.external-link {
		background-image: url(../images/external-link-thin-black.svg);
		background-position: bottom;
		background-size: .6666em;
		margin-left: .2em;
		opacity: .25;
		width: .6666em;
	}
}