// Frontend layout (i.e., elements that don't appear in the site editor).

// Resets
body {
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Fixes link targets so they aren't covered.
:target:before {
  content: '';
  display: block;
  height: 1em;
  margin-top: -1em;
}

// These are all the structural/layout components.
.site-preheader__inner,
.site-header-primary-nav__inner,
.site-header-secondary-nav__inner,
.site-content__inner,
.site-footer__inner {
  box-sizing: content-box;
}

.site-preheader__inner {
  padding: $spacing-xxs $spacing-sm;
}

.site-header-primary-nav__inner {
  padding: $spacing-sm;
}

.site-header-secondary-nav__inner {
  padding: $spacing-xxs $spacing-sm;
}

.site-content__inner {
  margin: 0 auto;
  max-width: $content-size;
  padding: 0 $spacing-sm;
}

.site-footer {
  margin-top: $spacing-xxl;
}

.site-footer__inner {
  padding: $spacing-lg $spacing-sm;
}
