// Frontend layout (i.e., elements that don't appear in the site editor).

// Resets
body {
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


// Fixes link targets so they aren't covered.
:target:before {
  content: '';
  display: block;
  height: 1em;
  margin-top: -1em;
}
