// Frontend layout (i.e., elements that don't appear in the site editor).

// Resets
body {
  line-height: 1;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Fixes link targets so they aren't covered.
:target:before {
  content: '';
  display: block;
  height: 1em;
  margin-top: -1em;
}

#page-content {
  overflow: hidden;
}

// These are all the structural/layout components.
.site-preheader__inner,
.site-header-primary-nav__inner,
.site-header-secondary-nav__inner,
.breadcrumbs,
.site-content__inner,
.site-footer__inner {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
  max-width: $wide-size;
}

.site-preheader__inner {
  padding-top: $spacing-xxs;
  padding-bottom: $spacing-xxs;
}

.site-header-primary-nav__inner {
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
}

.site-header-secondary-nav__inner {
  padding-top: $spacing-xxs;
  padding-bottom: $spacing-xxs;
}

.breadcrumbs {
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
}

.site-content__inner {
  max-width: $content-size;
}

.site-footer {
  margin-top: $spacing-xxl;
}

.site-footer__inner {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
}

// Layout Classes
.alignright {
  float: right;
  margin-left: $spacing-sm;
}

.alignleft {
  float: left;
  margin-right: $spacing-sm;
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}

.alignwide {
  margin: $spacing-sm auto;
  max-width: calc(100vw - $spacing-sm * 2);
  position: relative;
    left: 50%;
  transform: translateX(-50%);
  width: $wide-size;
}

.alignfull {
  margin: $spacing-sm auto;
  position: relative;
    left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.alignwide,
.alignfull {
  .alignwide,
  .alignfull {
    position: unset;
    transform: unset;
  } 
}