// Global menu styles
.menu {
  display: flex;
  gap: $spacing-xs $spacing-sm;
  line-height: $line-height-normal;
  list-style: none;
  margin: 0;
  padding: 0;

  .menu-item {
    a {
      color: $menu-text;
      display: block;

      // Prevents "fake" links from behaving like real ones.
      &:not([href]),
      &[href="#"] {
        cursor: default;
        pointer-events: none;
      }
    }
    
    &.current-menu-item {
      > a {
        font-weight: 500;
      }
    }
  }

  // Top-level menu items
  > .menu-item {
    > a {
      text-wrap: nowrap;
  
      &:not(:hover) {
        text-decoration: none;
      }
    }
  }

  .sub-menu {
    .menu-item {
      display: block;
      margin-top: $spacing-xxs;
      margin-bottom: $spacing-xxs;
    }
  
    .sub-menu {
      list-style-type: disc;
      margin-left: calc(.8 * $spacing-sm);
      padding: 0;
  
      .menu-item {
        display: list-item;
      }
    }
  }

  // Top-level submenus
  > .menu-item-has-children {
    position: relative;

    // Covers drop-down links until they are opened.
    &:not(.open) {
      &::before {
        content: '';
        cursor: pointer;
        inset: 0;
        position: absolute; 
        z-index: 10;
      }

      &:hover > a {
        text-decoration: underline;
      }
    }

    &:not(.collapsed-menu) {
      align-items: center;
      display: flex;
      gap: $spacing-tiny;

      &::after {
        background-image: url('../images/close-dark.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        content: '';
        display: inline-grid;
        height: .9em;
        place-content: center;
        transform: rotate(-45deg);
        transition: transform 150ms ease-in-out;
        width: .9em;
      }
    }

    .submenu-dismiss {
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      border: $border;
      border-radius: $button-border-radius;
      box-shadow: none;
      cursor: pointer;
      height: .9em;
      margin: 0;
      padding: 0;
      position: absolute;  
        top: 50%;
        right: 0;
      transform: translateY(-50%);
      width: .9em;
      z-index: 10;

      &:hover,
      &:focus,
      &:active {
        background-color: LightGray;
        background-image: url('../images/close.svg');
      }
      
      &:hover:not(:active),
      &:focus:not(:active)        {
        box-shadow: $box-shadow;
      }
    }

    > .sub-menu {
      animation: growDown_centered 150ms ease-in-out forwards;
      background-color: $page-color;
      border: $border;
      box-shadow: $box-shadow;
      display: none;
      font-size: $font-size-sm;
      max-width: 25ch;
      padding: $spacing-xs $spacing-sm;
      position: absolute;
        top: 100%;
        left: 50%;
      transform: translateX(-50%);
      transform-origin: top;
      width: max-content;
      z-index: 10;

      > :first-child {
        margin-top: 0;
      }

      > :last-child,
      > :last-child :last-child {
        margin-bottom: 0;
      }

      .menu-item-has-children {
        .sub-menu {
          margin-left: 0;
          padding-left: 1em;
        }
      }
    }

    &.open {
      &::after {
        transform: revert;
      }

      > .sub-menu {
        display: block;
      }
    }
  }
}

.submenu-screen {
  background-color: rgb(0, 0, 0, .4);
  display: block;
  height: 100vh;
  inset: 0;
  position: fixed;
  width: 100vw;
}


.primary-menu-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: $spacing-sm;
  justify-content: right;
  position: relative;

  @media (max-width: $breakpoint-sm) {
    justify-content: space-between;
  }
}

#primary-menu {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  position: relative;

  @media (max-width: $breakpoint-sm) {
    order: 2;
    position: revert;
  }
}


#collapsed-menu {
  > a {
    display: inline-block;
    font-weight: bold;
    letter-spacing: .075em;
    transform: rotate(90deg);
  }

  .submenu-dismiss {
    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }
}


#header-cta {
  animation: pulse 1s ease-in-out .5s 1 running;
  background-color: var(--header-cta-button-color);
  color: var(--header-cta-text-color);
  text-align: center;
  text-wrap: nowrap;
}


.secondary-menu-container {
  background-color: var(--wp--preset--color--secondary);
}

#secondary-menu {
  padding-top: $spacing-xxs;
  padding-bottom: $spacing-xxs;

  .menu {
    font-size: $font-size-sm;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-sm) {
      > .menu-item-has-children:first-child > .sub-menu {
        animation: growDown 150ms ease-in-out forwards;
        position: absolute;
          left: 0;
      }
    }
  }
}

// Mobile menu styles
@media (max-width: $breakpoint-sm) {
  // Stops the page from scrolling behind dropdown menu modals on mobile.
  body {
    &:has(.menu-item-has-children.open) {
      height: 100%;
      overflow: hidden;
    }
  }

  .menu {
    > .menu-item-has-children {
      &.open {
        align-items: start;
        animation: pulse 150ms ease-in-out forwards;
        background-color: $page-color;
        border: $border;
        box-shadow: $box-shadow;
        flex-direction: column;
        margin: 0;
        max-height: calc(100vh - $spacing-sm * 2 - var(--wp-admin--admin-bar--height));
        overflow: auto;
        padding: $spacing-sm;
        position: fixed;
          top: calc($spacing-sm + var(--wp-admin--admin-bar--height));
          right: $spacing-sm;
          left: $spacing-sm;
        transform-origin: top center;
        width: calc(100vw - ($spacing-sm * 2));
        z-index: 20;

        &::after {
          display: none;
        }
  
        .menu-item {
          font-size: $font-size-md;
        }
  
        > a {
          color: $menu-text;
          display: block;
          font-size: $font-size-lg;
          font-weight: bold;
          max-width: calc(100% - $spacing-lg );
          text-wrap: auto;
        }
  
        > .sub-menu {
          animation: unset;
          background: none;
          border: none;
          box-shadow: none;
          margin: 0;
          max-width: calc(100vw - ($spacing-sm * 2));
          padding: 0;
          position: unset;
          transform: unset;
          width: auto;
        }
      }

      .submenu-dismiss {
        background-color: LightGray;
        background-image: url('../images/close.svg');
        height: $font-size-xl;
        position: absolute;
          right: $spacing-xs;
          top: $spacing-xs;
        transform: unset;
        width: $font-size-xl;
      }
    }
  }
}
