// Stops the page from scrolling behind dropdown menu modals on mobile.
body {
  @media (max-width: $breakpoint-sm) {
    &:has(.menu-item-has-children.open) {
      height: 100%;
      overflow: hidden;
    }
  }
}

// Submenus
// On desktop submenus are dropdowns. On mobile they become modals.
.menu > .menu-item-has-children {
  position: relative;

  // Adds a "+" after top-level menu items except for the collapsed menu.
  &:not(.collapsed-menu) > a::after {
    content: '\0002B'; // "+"
    display: inline-grid;
    height: .9em;
    margin-left: .15em;
    place-content: center;
    transition: transform 150ms ease-in-out;
    width: .9em;
  }

  // Adds a transparent overlay on top-level menu items that disables menu item links 
  // until the menu is opened.
  &:not(.open)::before {
    content: '';
    cursor: pointer;
    inset: 0;
    position: absolute; 
    z-index: 10; 
  }

  // Top-Level Submenus
  > .sub-menu {
    animation: growDown_centered 150ms ease-in-out forwards;
    display: none;
    font-size: $font-size-sm;
    max-width: calc(100vw - ($spacing-sm * 2));
    padding: $spacing-xxs $spacing-sm;
    position: absolute;
      left: 50%;
    transform: translateX(-50%);
    transform-origin: top;
    width: max-content;
    z-index: 10;
  }

  // Deeper Submenus
  .menu-item-has-children {
    .sub-menu {
      margin-left: 0;
      padding-left: 1em;
    }
  }

  // Open Submenus
  &.open {
    // When open, the "+" rotates and the submenu is shown.
    > a {
      &::after {
        transform: rotate(45deg);
      }

      + .sub-menu {
        display: block;
      }
    }

    // When open on mobile, the submenu is a modal.
    @media (max-width: $breakpoint-sm) {
      animation: pulse 150ms ease-in-out forwards;
      margin: 0;
      max-height: calc(100vh - $spacing-sm * 2 - var(--wp-admin--admin-bar--height));
      overflow: auto;
      position: fixed;
        top: calc($spacing-sm + var(--wp-admin--admin-bar--height));
        right: $spacing-sm;
        left: $spacing-sm;
      transform-origin: top center;
      width: calc(100vw - ($spacing-sm * 2));
      z-index: 20;

      .menu-item {
        font-size: $font-size-md;
      }

      > a {
        color: $menu-text;
        font-size: $font-size-lg;
        font-weight: bold;

        &::after {
          display: none !important;
        }
      }

      > .sub-menu {
        animation: unset;
        background: none;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: unset;
        transform: unset;
        width: auto;
      }
    }
  }
}

// Submenu Dismiss Button
// On desktop the submenu dismiss button is a transparent overlay 
// for Javascript. On mobile it becomes an actual close button.
.submenu-dismiss {
  background-color: transparent;
  border: unset;
  border-radius: $button-border-radius;
  box-shadow: none;
  cursor: pointer;
  height: $font-size-sm;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;  
    top: 50%;
    right: calc(-1 * (1lh - $font-size-sm) / 2);
  transform: translateY(-50%);
  width: $font-size-sm;
  z-index: 10;
  
  &:hover:not(:active)  {
    box-shadow: none;

    + a::after {
      background-color: rgba(255, 255, 255, .25);
      border-radius: $button-border-radius;
      box-shadow: $box-shadow;
    }
  }

  @media (max-width: $breakpoint-sm) {
    background-color: LightGray;
    background-image: url("../images/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: var(--wp--custom--border--normal);
    border-radius: var(--wp--custom--border--radius--buttons);
    height: $font-size-lg;
    position: absolute;
      right: $spacing-xxs;
      top: $spacing-xxs;
    transform: unset;
    width: $font-size-lg;
  }
}

#collapsed-menu {
  > a {
    display: inline-block;
    font-weight: bold;
    letter-spacing: .075em;
    transform: rotate(90deg);
  }

  .submenu-dismiss {
    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }
}

.submenu-screen {
  background-color: rgb(0, 0, 0, .4);
  display: block;
  height: 100vh;
  inset: 0;
  position: fixed;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: $spacing-sm;
  list-style: none;
  margin: 0;
  padding: 0;

  .menu-item {
    line-height: $line-height-sm;

    a {
      color: $menu-text;
      display: block;

      &:not([href]),
      &[href="#"] {
        cursor: default;
        pointer-events: none;
      }
    }
    
    &.current-menu-item {
      > a {
        font-weight: 500;
      }
  
      > a::after {
        font-weight: initial;
      }
    }
  }

  // Top-level menu items
  > .menu-item {
    line-height: 2.5em;

    > a {
      text-wrap: nowrap;
  
      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}

.sub-menu {
  .menu-item {
    display: block;
    margin-top: $spacing-xxs;
    margin-bottom: $spacing-xxs;
  }

  .sub-menu {
    list-style-type: disc;
    margin-left: calc(.8 * $spacing-sm);
    padding: 0;

    .menu-item {
      display: list-item;
    }
  }
}

.primary-menu-container {
  display: grid;
  place-items: center stretch;

  .show-header-cta & {
    grid-gap: $spacing-sm;
    grid-template-columns: minmax(0, 1fr) max-content;
  }

  @media (max-width: $breakpoint-sm) {
    justify-content: space-between;

    .show-header-cta & {
      grid-template-columns: repeat(2, auto);
    }
  }
}

#primary-menu {
  display: grid;
  place-items: center end;
  position: relative;

  @media (max-width: $breakpoint-sm) {
    order: 2;
    place-items: center start;
    position: revert;
  }
}

#header-cta {
  animation: pulse 1s ease-in-out .5s 1 running;
  background-color: var(--header-cta-button-color);
  color: var(--header-cta-text-color);
}

.secondary-menu-container {
  background-color: var(--wp--preset--color--secondary);
}

#secondary-menu {
  .menu {
    font-size: $font-size-sm;
    flex-wrap: wrap;
    gap: $spacing-xxs $spacing-xs;

    @media (min-width: $breakpoint-sm) {
      > .menu-item-has-children:first-child > .sub-menu {
        animation: growDown 150ms ease-in-out forwards;
        position: absolute;
          left: 0;
      }
    }
  }
}
