.site-header {
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $spacing-sm;
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-item {
      line-height: $line-height-sm;
      
      a {
        display: block;
        font-family: $headings;
        text-decoration: none;
        white-space: nowrap;

        &:not(:hover) {
          color: $menu-text;
        }

        // Covers <a> tags that go nowhere (the way I usually use them, anyway).
        &:where(:not([href]):not([href=""]):not([href="#"])) {
          text-decoration: none;

          &:hover {
            color: $menu-text;
            cursor: default;
            text-decoration: none !important;
          }
        }
      }
      
    }

    > .menu-item-has-children {
      // Inserts a + after top-level menu items.
      &:not(.collapsed-menu):not(.collapsed-menu &) {
        > a::after {
          content: '\0002B'; // "+"
          display: inline-block;
          margin-left: .25em;
          transition: transform 150ms ease-in-out;
        }
      }

      // Shows the sub-menu and rotates the + on hover.
      &:hover {
        > a {
          + ul.sub-menu {
            display: block;
          }

          &::after {
            transform: rotate(45deg);
          }
        }
      }

      // Anchors the sub-menu when absolutely positioned at non-mobile widths.
      @media (min-width: $breakpoint-sm) {
        position: relative;
      }
      
      > .sub-menu {
        animation: growDown_centered 150ms ease-in-out forwards;
        background-color: var(--page-color);
        border: $border;
        box-shadow: $box-shadow;
        display: none;
        font-size: $font-size-sm;
        padding: $spacing-xxs $spacing-sm;
        position: absolute;
          left: 50%;
        transform: translateX(-50%);
        transform-origin: top;

        @media (max-width: $breakpoint-sm) {
          animation: growDown 150ms ease-in-out forwards;
          border-left: none;
          border-right: none;
            left: 0;
          margin: 0;
          transform: translateX(0);
          width: 100vw;
        }
      }
    }
  }

  .sub-menu {
    .menu-item {
      display: block;
      margin-top: $spacing-xxs;
      margin-bottom: $spacing-xxs;

      a {
        text-decoration: revert;
        text-decoration-color: $gray-wash;

        &:hover {
          text-decoration-color: currentColor;
        }
      }
    }

    .sub-menu {
      list-style-type: disc;
      margin-left: calc(.8 * $spacing-sm);
      padding: 0;

      .menu-item {
        display: list-item;
      }
    }
  }
}

.primary-menu-container {
  display: grid;
  place-items: center stretch;

  .show-header-cta & {
    grid-gap: $spacing-sm;
    grid-template-columns: minmax(0, 1fr) max-content;
  }
}

#primary-menu {
  display: grid;
  place-items: center end;
  position: relative;
  z-index: 10;

  @media (max-width: $breakpoint-sm) {
    order: 2;
    place-items: center start;
    position: revert;
  }

  .menu {
    .collapsed-menu {
      > a {
        font-weight: bold;
        letter-spacing: .075em;
        transform: rotate(90deg);
      }

      .sub-menu {
        .menu-item-has-children {
          > a {
            font-size: $font-size-xs;
            margin-top: .75em;
            opacity: $light-text;
            text-transform: uppercase;
          }
        }
  
        .sub-menu {
          list-style: none;
          margin-left: 0;
        }
      }      
    }
  }
}

#header-cta {
  animation: pulse 1s ease-in-out .5s 1 running;
  background-color: var(--header-cta-button-color);
  border: 2px solid currentColor;
  border-radius: 9999px;
  color: var(--header-cta-text-color);
  margin: 0;
  transition: box-shadow .2s;
  width: max-content;

  &:hover {
    text-decoration: none;

    &:not(:active) {
      box-shadow: $box-shadow;
    }
  }
}

.secondary-menu-container {
  background-color: var(--wp--preset--color--secondary);
}

#secondary-menu {
  position: relative;
  z-index: 5;

  .menu {
    font-size: $font-size-sm;
    flex-wrap: wrap;
    gap: $spacing-xxs $spacing-xs;

    > .menu-item-has-children:first-child > .sub-menu {
      animation: growDown 150ms ease-in-out forwards;
      position: absolute;
        left: 0;
    }
  }
}
