.menu,
.sub-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  a,
  a:visited {
    align-self: center;
    color: var( --menu-text-color );
    display: block;
    font-family: var( --heading-font );
    white-space: nowrap;
  }

  a:hover,
  a:focus {
    color: var( --link-color-hover );
  }

  & > .menu-item {
    margin: 0;
    position: relative;

    &:last-child {
      margin-right: unset;
    }
  }

  .menu-item-has-children > a::after {
    content: '\02009\0002B';
  }

  & > .menu-item-has-children {
    &  > .sub-menu {
      background-color: WhiteSmoke;
      border: 1px solid var( --menu-border-color );
      box-shadow: $box-shadow;
      padding: $tenpx calc(2 * $tenpx);
      position: absolute;
        left: -9999px;
      transform: translateX( -50% );
      z-index: 10;
    }

    &:hover,
    &:focus {
      & > .sub-menu {
        font-size: $small;
        left: 50%;
      }
    }
  }
}

.sub-menu > .menu-item {
  display: block;
  margin-bottom: .25em;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
  }

  .sub-menu {
    background-color: unset;
    border: unset;
    box-shadow: unset;
    color: var( --menu-border-color );
    display: block;
    list-style-type: disc;
    margin: 0 0 0 calc(2 * $tenpx);
    padding: 0;
    position: unset;

    .menu-item {
      display: list-item;
    }
  }
}

.primary-menu-container {
  display: grid;
}

.show-header-cta {
  .primary-menu-container {
    grid-gap: calc(2 * $tenpx);
    grid-template-columns: minmax(0, 1fr) max-content;
  }
}

#primary-menu {
  display: grid;
  place-self: center stretch;
  place-items: center end;

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc(2 * $tenpx);
  }

  & > .menu-item-has-children {
    &:hover > .sub-menu,
    &:focus > .sub-menu {
      font-size: $small;
      left: 50%;
    }
  }

  .collapsed-menu > i {
    cursor: pointer;
  }
}

#secondary-menu {
  background-color: rgba( 0, 0, 0, .1 );
  font-size: $small;
  margin-bottom: calc(4 * $tenpx);
  padding: $tenpx calc(2 * $tenpx);

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: $tenpx calc(2 * $tenpx);

    & > .menu-item-has-children:first-child > .sub-menu {
      position: absolute;
        left: 0;
      transform: unset;
    }
  }
}
