.modal-container {
  display: none;
  height: 100vh;
  place-content: center;
  position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
  z-index: 100;

  &.visible {
    display: grid;

    .modal {
      animation: pulse  150ms ease-in-out forwards;
    }

    .modal,
    .modal-screen {
      display: block;
    }
  }
}

.modal.card {
  background-color: $page-color;
  display: none;
  margin: 3px;
  min-height: 30vh;
  min-width: 330px;
  max-height: 80vh;
  max-width: 30vw;
  overflow: scroll;
  position: relative;
    top: 10%;
  z-index: 100;

  // Prevents the first line from overwriting the dismiss button.
  & > *:nth-child(2) {
    margin-top: 0;
    padding-right: $font-size-large;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.dismiss-modal {
  background-color: LightGray;
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: $border;
  border-radius: 9999px;
  cursor: pointer;
  height: $font-size-large;
  line-height: 1;
  margin: 0;
  padding: 3px;
  position: absolute;
    top: 15px;
    right: 15px;
  text-decoration: none;
  width: $font-size-large;

  &:hover {
    text-decoration: none;
  }
}

.modal-screen {
  background-color: rgb(0, 0, 0, .4);
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 90;
}
