.modal-container {
  display: none;
  height: 100vh;
  place-content: center;
  position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
  z-index: 100;

  &.visible {
    display: grid;

    .modal {
      animation: pulse  150ms ease-in-out forwards;
    }

    .modal,
    .modal-screen {
      display: block;
    }
  }
}

.modal.card {
  background-color: var(--page-color);
  box-shadow:
    0 0 0 1px #ddd,
    1px 1px 3px rgba(0, 0, 0, 0.2)
  ;
  display: none;
  margin: 3px;
  min-width: 330px;
  max-height: 80%;
  max-width: 30vw;
  overflow: scroll;
  position: relative;
    top: 10%;
  z-index: 100;

  & > *:nth-child(2) {
    margin-top: 0;
    padding-right: $large;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.dismiss-modal {
  align-items: center;
  background-color: #ccc;
  background-image: url("../images/close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: calc(100% - 6px) calc(100% - 6px);
  border: 1px solid #bbb;
  border-radius: 9999px;
  cursor: pointer;
  display: grid;
  height: $large;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: 3px;
  place-items: center;
  position: absolute;
    top: 15px;
    right: 15px;
  text-decoration: none;
  width: $large;

  &:hover,
  &:focus {
    background-color: #ddd;
    border-color: #ccc;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }

  &:active {
    background-color: #bbb;
    border-color: #bbb;
    box-shadow: none;
    text-decoration: none;
  }

  svg {
    fill: White;
  }
}

.modal-screen {
  background-color: rgb(0, 0, 0, .4);
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 90;
}
