@use 'variables' as *;

.post-nav-links-label {
  font-size: $font-size-sm;
  font-weight: bold;
  margin: 0 0 $spacing-xxs 0;
  text-transform: uppercase;
}

.nav-links {
  margin: $spacing-sm 0;
}

.post-nav-links {
  margin: $spacing-xxs 0 $spacing-sm 0;
}

.nav-links,
.post-nav-links {
  font-variant-numeric: lining-nums tabular-nums;

  * {
    display: inline-grid;
    height: 2em;
    min-width: 2em;
    place-content: center;
  }

  *:not(.dots) {
    border: $button-border;
    border-radius: $button-border-radius;
    padding: .5em;
  }

  .dots {
    padding: $spacing-xs 0;
  }

  .prev,
  .next {
    padding: $spacing-xs 1em;;
  }

  .current {
    background-color: $gray-wash;
  }

  a {
    color: currentColor;
    text-decoration: none;
    transition: box-shadow .2s;

    &:hover {
      text-decoration: none;

      &:not(:active) {
        box-shadow: $box-shadow;
      }
    }
  }
}
