html {
  font-family: sans-serif;
}

body {
  background-color: Snow;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: $normal;
  line-height: $line-height-normal;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-decoration-color: var(--text-color-light);
}

:target:before {
  content: '';
  display: block;
  height: 1em;
  margin-top: -1em;
}

h1, h2, h3, h4, h5, h6 {
  color: var( --heading-color );
  font-family: var( --heading-font );
  font-weight: bold;
  line-height: $line-height-small;
  margin: 1em 0 .5em 0;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-top: 0;
}

h1 {
  font-size: $xxl;
}

h2 {
  font-size: $x-large;
}

h3 {
  font-size: $large;
}

h4 {
  font-size: $medium;
}

h5 {
  text-transform: uppercase;
}

h6 {
  font-size: $small;
  text-transform: uppercase;
}

blockquote,
dd,
ol,
p,
pre,
ul {
  margin: 1em 0 1em 0;
}

blockquote,
dd,
ol,
ul {
  padding-left: 2em;
}

dd,
li,
p,
pre {
  line-height: $line-height-normal;
}

li {
  &:not( :last-child ) {
    margin-bottom: .5em;
  }

  &:first-child:not( .menu-item ) {
    margin-top: .5em;
  }
}

blockquote {
  border-left: 2px solid var( --menu-border-color );

  & > *:not(cite) {
    line-height: $line-height-normal;
  }
}

cite {
  color: var( --text-color-light );
}

code,
pre {
  font-family: monospace;
}

small {
  font-size: $x-small;
}
