// These style properties are only for the front-end. Block and element styles
// should be declared in theme.json, _blocks.scss, or _elements.scss.

html {
  font-family: sans-serif;
}

:target:before {
  content: '';
  display: block;
  height: 1em;
  margin-top: -1em;
}

small {
  font-size: $font-size-x-small;
}
