.alignwide,
.wp-block-gallery.alignwide {
 	margin: 1em calc(-11 * $tenpx);
 	max-width: calc(100% + (22 * $tenpx));
 	width: calc(100% + (22 * $tenpx));

  @media (max-width: calc($max-width + (22 * $tenpx))) {
    margin: 1em calc(50% - 50vw);
   	max-width: 100vw;
   	width: 100vw;
  }
}

.alignfull,
.wp-block-gallery.alignfull {
 	margin: 1em calc(50% - 50vw);
 	max-width: 100vw;
 	width: 100vw;
}

.alignright,
.wp-block-gallery.alignright {
  float: right;
  margin-left: 1em;
}

.alignleft,
.wp-block-gallery.alignleft {
  float: left;
  margin-right: 1em;
}

.card {
  box-shadow: $box-shadow;
  margin-bottom: 1.5em !important;
  padding: $spacing-md !important;
}

.clearfix {
  clear: both;
}

.gradient {
  background: radial-gradient( circle, rgba( 0, 0, 0, .1 ) 0%, rgba( 256, 256, 256, .1 ) 150%);
}

.hide {
  display: none;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.remove-top-margin {
  margin-top: 0 !important;
}

.screen-reader-text,
.wp-block-search label {
  height: 1px;
  overflow: hidden;
  position: absolute;
    left: -9999px;
    top: auto;
  width: 1px;
}
