.card {
  box-shadow: $box-shadow;
  margin-bottom: 1.5em !important;
  padding: $spacing-md !important;
}

.clearfix {
  clear: both;
}

.gradient {
  background:
    radial-gradient(circle, rgba(0, 0, 0, .1) 0%,
    rgba(256, 256, 256, .1) 150%)
  ;
}

.hide {
  display: none;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.remove-top-margin {
  margin-top: 0 !important;
}

.screen-reader-text,
.wp-block-search label {
  height: 1px;
  overflow: hidden;
  position: absolute;
    left: -9999px;
    top: auto;
  width: 1px;
}
