.alignright {
  float: right;
  margin-left: $spacing-sm;
}

.alignleft {
  float: left;
  margin-right: $spacing-sm;
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}

.alignwide {
  max-width: calc(100vw - $spacing-sm * 2);
  position: relative;
    left: 50%;
  transform: translateX(-50%);
  width: $wide-size;
}

.alignfull {
  position: relative;
    left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.card {
  background-color: $page-color;
  border: $border;
  box-shadow: $box-shadow;
  padding: $spacing-md;
}

.clearfix {
  clear: both;
}

.hide {
  display: none;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.remove-top-margin {
  margin-top: 0 !important;
}

.screen-reader-text {
  height: 1px;
  overflow: hidden;
  position: absolute;
    left: -9999px;
    top: auto;
  width: 1px;
}
