$tenpx: 0.625rem;

$content-size: var(--wp--style--global--content-size);
$wide-size: var(--wp--style--global--wide-size);

$border: var(--wp--custom--border--normal);
$border-width: var(--wp--custom--border--width--normal);
$button-border: var(--wp--custom--border--buttons);
$button-border-width: var(--wp--custom--border--width--buttons);
$button-border-radius: var(--wp--custom--border--radius--buttons);
$field-border-radius: var(--wp--custom--border--radius--fields);

$box-shadow: var(--wp--preset--shadow--box-shadow);
$text-shadow: var(--wp--preset--shadow--text-shadow);

// Colors
$body-text: var(--wp--preset--color--body);
$headings: var(--wp--preset--color--headings);
$menu-text: DarkSlateGray;
$link: var(--wp--preset--color--links);
$link-hover: var(--wp--preset--color--links-hover);
$light-text: var(--wp--preset--color--light-text);
$page-color: var(--wp--preset--color--page);
$gray-wash: var(--wp--preset--color--gray-wash);

// Gradients
$primary-gradient: var(--wp--preset--gradient--cpt-primary);
$secondary-gradient: var(--wp--preset--gradient--cpt-secondary);

// Font Sizes
$font-size-xs: var(--wp--preset--font-size--xs);
$font-size-sm: var(--wp--preset--font-size--sm);
$font-size-normal: var(--wp--preset--font-size--normal);
$font-size-md: var(--wp--preset--font-size--md);
$font-size-lg: var(--wp--preset--font-size--lg);
$font-size-xl: var(--wp--preset--font-size--xl);
$font-size-xxl: var(--wp--preset--font-size--xxl);
$font-size-huge: var(--wp--preset--font-size--huge);

// Line Height
$line-height-sm: var(--wp--custom--typography--line-height--sm);
$line-height-normal: var(--wp--custom--typography--line-height--normal);

// Spacing
$spacing-tiny: calc(.5 * var(--wp--preset--spacing--20)); 
$spacing-xxs: var(--wp--preset--spacing--20);
$spacing-xs: var(--wp--preset--spacing--30);
$spacing-sm: var(--wp--preset--spacing--40);
$spacing-md: var(--wp--preset--spacing--50);
$spacing-lg: var(--wp--preset--spacing--60);
$spacing-xl: var(--wp--preset--spacing--70);
$spacing-xxl: var(--wp--preset--spacing--80);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
