$tenpx: 0.625rem;

$max-width: calc(110 * $tenpx);
$content-size: calc(110 * $tenpx);
$wide-size: calc(132 * $tenpx);

$border: 1px solid LightSlateGray;
$box-shadow:
  calc(.1 * $tenpx) calc(.1 * $tenpx) calc(.5 * $tenpx) rgba(0, 0, 0, .25),
  calc(.25 * $tenpx) calc(.25 * $tenpx) calc(1.5 * $tenpx) rgba(0, 0, 0, .1)
;

// Colors
$body-text: var(--wp--preset--color--body);
$headings: var(--wp--preset--color--headings);
$menu-text: DarkSlateGray;
$link: var(--wp--preset--color--links);
$link-hover: var(--wp--preset--color--links-hover);
$light-text: var(--wp--preset--color--light-text);
$page-color: var(--wp--preset--color--page-color);
$gray-wash: var(--wp--preset--color--gray-wash);

// Font Sizes
$font-size-x-small: var(--wp--custom--typography--font-size--x-small);
$font-size-small: var(--wp--preset--font-size--small);
$font-size-normal: var(--wp--custom--typography--font-size--normal);
$font-size-medium: var(--wp--preset--font-size--medium);
$font-size-large: var(--wp--preset--font-size--large);
$font-size-x-large: var(--wp--preset--font-size--x-large);
$font-size-xxl: var(--wp--custom--typography--font-size--xxl);
$font-size-huge: var(--wp--custom--typography--font-size--huge);

// Line Height
$line-height-small: var(--wp--custom--typography--line-height--small);
$line-height-normal: var(--wp--custom--typography--line-height--normal);

// Spacing
$spacing-xs: calc(.75 * $tenpx);
$spacing-sm: $tenpx;
$spacing-regular: calc(2 * $tenpx);
$spacing-md: calc(3 * $tenpx);
$spacing-lg: calc(4 * $tenpx);
$spacing-xl: calc(6 * $tenpx);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
