:root {
  --heading-color: #333333;
  --menu-text-color: DarkSlateGray;
  --menu-border-color: LightSlateGray;
  --text-color: #111111;
  --text-color-light: SlateGray;
  --font-size-small: 1.44rem;
}
