@use 'variables' as *;

// These customizations apply the CPT Theme variables to Client Power Tools.
.customize-cpt {
  .cpt-dismiss-button {
    border: $border;
    height: $font-size-lg;
      right: $spacing-xxs;
      top: $spacing-xxs;
    width: $font-size-lg;

    &:hover:not(:active) {
      box-shadow: var(--wp--preset--shadow--box-shadow);
    }
  }

  &.client-dashboard {
    .entry-title:not(.cpt-entry-title) {
      color: $light-text;
    }
  }

  #cpt-nav {
    background-color: $gray-wash;
    padding-top: $spacing-xxs;
    padding-bottom: $spacing-xxs;
  }

  .cpt-notice:where(:not(body.wp-admin)) {
    .cpt-notice-message {
      font-size: $font-size-sm;
      padding-left: $spacing-xs;
    }

    &.is-dismissible {
      min-height: calc($spacing-xs * 2 + $border-width * 2 + $font-size-lg);

      .cpt-notice-message {
        padding-right: calc($spacing-xs * 2 + $border-width * 2 + $font-size-lg);
      }
    }

    .cpt-notice-dismiss {
      top: $spacing-xs;
      right: $spacing-xs;
    }
  }

  .cpt-message {
    &.card {
      background-color: $page-color;
      border: $border;
      box-shadow: $box-shadow;
    }
  }
}