@charset "UTF-8";
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown_centered {
  0% {
    transform: translateX(-50%) scaleY(0);
  }
  80% {
    transform: translateX(-50%) scaleY(1.1);
  }
  100% {
    transform: translateX(-50%) scaleY(1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
body {
  line-height: 1;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:target:before {
  content: "";
  display: block;
  height: 1em;
  margin-top: -1em;
}

#page-content {
  overflow: hidden;
}

.site-preheader__inner,
.site-header-primary-nav__inner,
.site-header-secondary-nav__inner,
.breadcrumbs,
.site-content__inner,
.site-footer__inner {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wp--preset--spacing--40);
  padding-right: var(--wp--preset--spacing--40);
  max-width: var(--wp--style--global--wide-size);
}

.site-preheader__inner {
  padding-top: var(--wp--preset--spacing--20);
  padding-bottom: var(--wp--preset--spacing--20);
}

.site-header-primary-nav__inner {
  padding-top: var(--wp--preset--spacing--40);
  padding-bottom: var(--wp--preset--spacing--40);
}

.site-header-secondary-nav__inner {
  padding-top: var(--wp--preset--spacing--20);
  padding-bottom: var(--wp--preset--spacing--20);
}

.breadcrumbs {
  padding-top: var(--wp--preset--spacing--40);
  padding-bottom: var(--wp--preset--spacing--40);
}

.site-content__inner {
  max-width: var(--wp--style--global--content-size);
}

.site-footer {
  margin-top: var(--wp--preset--spacing--80);
}

.site-footer__inner {
  padding-top: var(--wp--preset--spacing--60);
  padding-bottom: var(--wp--preset--spacing--60);
}

.alignright {
  float: right;
  margin-left: var(--wp--preset--spacing--40);
}

.alignleft {
  float: left;
  margin-right: var(--wp--preset--spacing--40);
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}

.alignwide {
  margin: var(--wp--preset--spacing--40) auto;
  max-width: calc(100vw - var(--wp--preset--spacing--40) * 2);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: var(--wp--style--global--wide-size);
}

.alignfull {
  margin: var(--wp--preset--spacing--40) auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

html {
  font-family: sans-serif;
}

.site-preheader {
  background-color: var(--secondary-color);
}

.site-header {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
}
.site-header.has-custom-logo .site-branding {
  align-items: center;
  display: grid;
  grid-gap: var(--wp--preset--spacing--40);
  grid-template-columns: repeat(2, max-content);
}
.site-header .sticky-header-spacer {
  display: none;
}
.site-header.sticky-nav .sticky-header-spacer {
  display: block;
  height: var(--header-spacer-height);
}
.site-header.sticky-nav .site-header-primary-nav {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
  position: fixed;
}
@media (max-width: 576px) {
  .site-header.sticky-nav .site-header-primary-nav {
    top: 0;
  }
}

.site-header-primary-nav {
  background-color: var(--primary-color);
  top: 0;
  position: relative;
  width: 100%;
  z-index: 10;
}
.site-header-primary-nav a,
.site-header-primary-nav a:hover {
  text-decoration: none;
}

.site-header-primary-nav__inner {
  display: grid;
  grid-gap: var(--wp--preset--spacing--40);
  grid-template-columns: minmax(auto, max-content) minmax(min-content, 1fr);
}
@media (max-width: 576px) {
  .site-header-primary-nav__inner {
    grid-template-columns: 100%;
  }
}

.site-logo {
  display: block;
}
.site-logo img {
  display: block;
}

.site-title {
  display: block;
  font-family: var(--heading-font);
  font-size: var(--wp--preset--font-size--xl);
  font-weight: bold;
  line-height: var(--wp--custom--typography--line-height--sm);
  margin: 0 0 0.1em 0;
  padding: 0;
}
.site-title a {
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.site-title a:not(:hover) {
  color: var(--text-color);
}

.site-description {
  color: var(--wp--preset--color--light-text);
  display: block;
  font-family: var(--wp--preset--color--headings);
  font-weight: normal;
  line-height: var(--wp--custom--typography--line-height--sm);
  margin: 0 0 0.1em 0;
  padding: 0;
}

.site-header .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--wp--preset--spacing--40);
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header .menu .menu-item {
  line-height: var(--wp--custom--typography--line-height--sm);
}
.site-header .menu .menu-item a {
  display: block;
  font-family: var(--wp--preset--color--headings);
  text-decoration: none;
  white-space: nowrap;
}
.site-header .menu .menu-item a:not(:hover) {
  color: DarkSlateGray;
}
.site-header .menu .menu-item a:where(:not([href]):not([href=""]):not([href="#"])) {
  text-decoration: none;
}
.site-header .menu .menu-item a:where(:not([href]):not([href=""]):not([href="#"])):hover {
  color: DarkSlateGray;
  cursor: default;
  text-decoration: none !important;
}
.site-header .menu > .menu-item-has-children:not(.collapsed-menu):not(.collapsed-menu .site-header .menu > .menu-item-has-children) > a::after {
  content: "+";
  display: inline-block;
  margin-left: 0.25em;
  transition: transform 150ms ease-in-out;
}
.site-header .menu > .menu-item-has-children:hover > a + ul.sub-menu {
  display: block;
}
.site-header .menu > .menu-item-has-children:hover > a::after {
  transform: rotate(45deg);
}
@media (min-width: 576px) {
  .site-header .menu > .menu-item-has-children {
    position: relative;
  }
}
.site-header .menu > .menu-item-has-children > .sub-menu {
  animation: growDown_centered 150ms ease-in-out forwards;
  background-color: var(--page-color);
  border: 1px solid LightSlateGray;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
  display: none;
  font-size: var(--wp--preset--font-size--sm);
  padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top;
}
@media (max-width: 576px) {
  .site-header .menu > .menu-item-has-children > .sub-menu {
    animation: growDown 150ms ease-in-out forwards;
    border-left: none;
    border-right: none;
    left: 0;
    margin: 0;
    transform: translateX(0);
    width: 100vw;
  }
}
.site-header .sub-menu .menu-item {
  display: block;
  margin-top: var(--wp--preset--spacing--20);
  margin-bottom: var(--wp--preset--spacing--20);
}
.site-header .sub-menu .menu-item a {
  text-decoration: revert;
  text-decoration-color: var(--wp--preset--color--gray-wash);
}
.site-header .sub-menu .menu-item a:hover {
  text-decoration-color: currentColor;
}
.site-header .sub-menu .sub-menu {
  list-style-type: disc;
  margin-left: calc(0.8 * var(--wp--preset--spacing--40));
  padding: 0;
}
.site-header .sub-menu .sub-menu .menu-item {
  display: list-item;
}

.primary-menu-container {
  display: grid;
  place-items: center stretch;
}
.show-header-cta .primary-menu-container {
  grid-gap: var(--wp--preset--spacing--40);
  grid-template-columns: minmax(0, 1fr) max-content;
}

#primary-menu {
  display: grid;
  place-items: center end;
  position: relative;
  z-index: 10;
}
@media (max-width: 576px) {
  #primary-menu {
    place-items: center start;
  }
}
@media (max-width: 576px) {
  #primary-menu .menu .menu-item-has-children > .sub-menu {
    left: calc(-1 * var(--wp--preset--spacing--40));
  }
}
#primary-menu .menu .collapsed-menu > a {
  font-weight: bold;
  letter-spacing: 0.15em;
}
#primary-menu .menu .collapsed-menu .sub-menu .menu-item-has-children > a {
  font-size: var(--wp--preset--font-size--xs);
  margin-top: 0.75em;
  opacity: var(--wp--preset--color--light-text);
  text-transform: uppercase;
}
#primary-menu .menu .collapsed-menu .sub-menu .sub-menu {
  list-style: none;
  margin-left: 0;
}

#header-cta {
  animation: pulse 1s ease-in-out 0.5s 1 running;
  background-color: var(--header-cta-button-color);
  border: 2px solid currentColor;
  border-radius: 9999px;
  color: var(--header-cta-text-color);
  margin: 0;
  transition: box-shadow 0.2s;
  width: max-content;
}
#header-cta:hover {
  text-decoration: none;
}
#header-cta:hover:not(:active) {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
}

.secondary-menu-container {
  background-color: var(--secondary-color);
}

#secondary-menu {
  position: relative;
  z-index: 5;
}
#secondary-menu .menu {
  font-size: var(--wp--preset--font-size--sm);
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
}
#secondary-menu .menu > .menu-item-has-children:first-child > .sub-menu {
  animation: growDown 150ms ease-in-out forwards;
  position: absolute;
  left: 0;
}

.breadcrumbs {
  color: var(--wp--preset--color--light-text);
  font-family: var(--wp--preset--color--headings);
  font-size: var(--wp--preset--font-size--sm);
  line-height: var(--wp--custom--typography--line-height--normal);
}
.breadcrumbs .last-breadcrumb {
  color: var(--wp--preset--color--body);
  font-weight: bold;
}

.page-header {
  margin-top: var(--wp--preset--spacing--60);
}
.page-header.has-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: var(--wp--preset--spacing--80) var(--wp--preset--spacing--40) var(--wp--preset--spacing--50) var(--wp--preset--spacing--40);
}
.page-header.has-background-image .entry-title {
  color: White;
  font-size: var(--wp--preset--font-size--huge);
  line-height: var(--wp--custom--typography--line-height--sm);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25), 0 0 25px Black;
}

.has-cover .page-header {
  margin-top: 0;
}
.has-cover .page-header .entry-title {
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
}
.has-cover .wp-block-cover:first-child {
  margin-top: 0;
}

.post-title a:not(:hover) {
  color: var(--wp--preset--color--headings);
}

.entry-byline {
  color: var(--wp--preset--color--light-text);
  font-size: var(--wp--preset--font-size--sm);
}

.entry-footer {
  margin-top: var(--wp--preset--spacing--60);
  margin-bottom: var(--wp--preset--spacing--60);
}

.blog article:first-child,
.archive article:first-child,
.search article:first-child {
  margin-top: var(--wp--preset--spacing--60);
}
.blog article:where(:not(:first-child)),
.archive article:where(:not(:first-child)),
.search article:where(:not(:first-child)) {
  margin-top: var(--wp--preset--spacing--60);
}
.blog article:where(:not(:last-child)),
.archive article:where(:not(:last-child)),
.search article:where(:not(:last-child)) {
  margin-bottom: var(--wp--preset--spacing--60);
}
.blog .post-title,
.archive .post-title,
.search .post-title {
  margin-top: 0;
  margin-bottom: var(--wp--preset--spacing--20);
}
.blog .excerpt,
.archive .excerpt,
.search .excerpt {
  margin-top: var(--wp--preset--spacing--20);
  margin-bottom: var(--wp--preset--spacing--20);
}
.blog .entry-footer,
.archive .entry-footer,
.search .entry-footer {
  margin-top: 0;
  margin-bottom: 0;
}
.blog .entry-byline,
.archive .entry-byline,
.search .entry-byline {
  margin-top: var(--wp--preset--spacing--20);
  margin-bottom: 0;
}
.blog .has-post-thumbnail,
.archive .has-post-thumbnail,
.search .has-post-thumbnail {
  align-items: center;
  display: grid;
  grid-gap: var(--wp--preset--spacing--50);
  grid-template-columns: 40% 1fr;
}
@media (max-width: 576px) {
  .blog .has-post-thumbnail,
.archive .has-post-thumbnail,
.search .has-post-thumbnail {
    grid-template-columns: 1fr;
    grid-gap: var(--wp--preset--spacing--40);
  }
}
.blog .has-post-thumbnail .title-excerpt-footer__container,
.archive .has-post-thumbnail .title-excerpt-footer__container,
.search .has-post-thumbnail .title-excerpt-footer__container {
  padding-top: var(--wp--preset--spacing--60);
  padding-bottom: var(--wp--preset--spacing--60);
}
@media (max-width: 576px) {
  .blog .has-post-thumbnail .title-excerpt-footer__container,
.archive .has-post-thumbnail .title-excerpt-footer__container,
.search .has-post-thumbnail .title-excerpt-footer__container {
    padding: 0;
  }
}
.blog .has-post-thumbnail .wp-post-image__container,
.archive .has-post-thumbnail .wp-post-image__container,
.search .has-post-thumbnail .wp-post-image__container {
  align-items: center;
  align-self: stretch;
  display: grid;
  position: relative;
}
.blog .has-post-thumbnail .wp-post-image__container::after,
.archive .has-post-thumbnail .wp-post-image__container::after,
.search .has-post-thumbnail .wp-post-image__container::after {
  background-color: var(--wp--preset--color--gray-wash);
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.comment-count .comments-icon {
  display: inline-block;
  height: 1em;
  position: relative;
  top: 0.15em;
  width: 1em;
}
.comment-count .comments-icon svg {
  fill: var(--wp--preset--color--light-text);
}

.post-nav-links-label {
  font-size: var(--wp--preset--font-size--sm);
  font-weight: bold;
  margin: 0 0 var(--wp--preset--spacing--20) 0;
  text-transform: uppercase;
}

.nav-links {
  margin: var(--wp--preset--spacing--40) 0;
}

.post-nav-links {
  margin: var(--wp--preset--spacing--20) 0 var(--wp--preset--spacing--40) 0;
}

.nav-links,
.post-nav-links {
  font-family: var(--wp--preset--color--headings);
  font-variant-numeric: lining-nums tabular-nums;
}
.nav-links *,
.post-nav-links * {
  display: inline-grid;
  height: 2em;
  min-width: 2em;
  place-content: center;
}
.nav-links *:not(.dots),
.post-nav-links *:not(.dots) {
  border: 2px solid currentColor;
  border-radius: 9999px;
  padding: 0.5em;
}
.nav-links .dots,
.post-nav-links .dots {
  padding: var(--wp--preset--spacing--30) 0;
}
.nav-links .prev,
.nav-links .next,
.post-nav-links .prev,
.post-nav-links .next {
  padding: var(--wp--preset--spacing--30) 1em;
}
.nav-links .current,
.post-nav-links .current {
  background-color: var(--wp--preset--color--gray-wash);
}
.nav-links a,
.post-nav-links a {
  color: currentColor;
  text-decoration: none;
  transition: box-shadow 0.2s;
}
.nav-links a:hover,
.post-nav-links a:hover {
  text-decoration: none;
}
.nav-links a:hover:not(:active),
.post-nav-links a:hover:not(:active) {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
}

.comments-list {
  list-style: none;
  padding: 0;
}
.comments-list .comment {
  display: block;
  margin: 2em 0;
}
.comments-list .comment .reply {
  font-size: var(--wp--preset--font-size--sm);
}
.comments-list .comment .reply a {
  margin-top: 1em;
  margin-bottom: 1em;
}
.comments-list .comment-author {
  align-items: center;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}
.comments-list .comment-author .avatar {
  border-radius: 9999px;
  margin-right: 0.25em;
}
.comments-list .comment-author > *:not(.avatar):not(:last-child)::after {
  content: " ";
}
.comments-list .comment-meta {
  color: var(--wp--preset--color--light-text);
  font-size: var(--wp--preset--font-size--xs);
}
.comments-list .children {
  border-left: 1px solid var(--menu-border-color);
  list-style: none;
  margin: 1em 0;
  padding-left: 1em;
}

.comment-body {
  font-size: var(--wp--preset--font-size--sm);
}

.reply a,
#cancel-comment-reply-link {
  border: 2px solid currentColor;
  border-width: 1px;
  border-radius: 9999px;
  display: inline-block;
  font-size: var(--wp--preset--font-size--xs);
  font-weight: normal;
  line-height: var(--wp--custom--typography--line-height--sm);
  padding: 0.5em 1em;
  text-decoration: none;
  transition: box-shadow 0.2s;
}
.reply a:hover,
#cancel-comment-reply-link:hover {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
}
.reply a:not(:hover),
#cancel-comment-reply-link:not(:hover) {
  color: var(--wp--preset--color--light-text);
}

.comment-respond .comment-reply-title {
  align-items: center;
  display: flex;
  font-size: var(--wp--preset--font-size--md);
  gap: 0.5em;
}
.comment-respond .logged-in-as {
  font-size: var(--wp--preset--font-size--xs);
}
.comment-respond .comment-form {
  margin: var(--wp--preset--spacing--20) 0;
}
.comment-respond .comment-form label {
  font-size: var(--wp--preset--font-size--sm);
  font-weight: bold;
  text-transform: uppercase;
}
.comment-respond .comment-form .comment-field {
  width: 100%;
}
.comment-respond .comment-form-cookies-consent label {
  display: revert;
}
.comment-respond .form-submit {
  margin-top: 0;
}
.comment-respond .form-submit input[type=submit] {
  margin-top: 0;
}

.show-avatars .comment-content,
.show-avatars .comment-meta,
.show-avatars .comments-list .comment-respond,
.show-avatars .reply {
  padding-left: var(--wp--preset--spacing--50);
}

.site-footer {
  background-color: var(--wp--preset--color--gray-wash);
}
.site-footer h2,
.site-footer h3 {
  font-size: var(--wp--preset--font-size--lg);
}
.site-footer .developer:not(:hover) {
  opacity: 0.5;
}

.footer-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--wp--preset--font-size--sm);
  gap: var(--wp--preset--spacing--40);
  justify-content: space-between;
}

label {
  display: block;
}

input,
select,
textarea {
  border: 1px solid LightSlateGray;
  border-radius: 0;
  font-weight: normal;
  max-width: 100%;
  padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
}

button,
.button,
input[type=submit] {
  background-color: inherit;
  border: 2px solid currentColor;
  border-radius: 9999px;
  color: DarkSlateGray;
  cursor: pointer;
  display: inline-block;
  font-family: var(--wp--preset--color--headings);
  line-height: var(--wp--custom--typography--line-height--sm);
  padding: 0.5em 1em;
  text-decoration: none;
  transition: box-shadow 0.2s;
  -webkit-appearance: none;
}
button:hover,
.button:hover,
input[type=submit]:hover {
  text-decoration: none;
}
button:hover:not(:active),
.button:hover:not(:active),
input[type=submit]:hover:not(:active) {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
}

.button-small {
  font-size: var(--wp--preset--font-size--sm);
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

img {
  height: auto;
  max-width: 100%;
}

.wp-post-image {
  display: block;
  height: auto;
  width: 100%;
}

.card {
  background-color: var(--wp--preset--color--page);
  border: 1px solid LightSlateGray;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25), 0.15625rem 0.15625rem 0.9375rem rgba(0, 0, 0, 0.1);
  padding: var(--wp--preset--spacing--50);
}

.clearfix {
  clear: both;
}

.hide {
  display: none;
}

:disabled,
:disabled:hover,
:disabled:focus,
:disabled:active {
  box-shadow: none !important;
  cursor: default !important;
  opacity: 0.5 !important;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.remove-top-margin {
  margin-top: 0 !important;
}

.screen-reader-text {
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
}

.modal-container {
  display: none;
  height: 100vh;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}
.modal-container.visible {
  display: grid;
}
.modal-container.visible .modal {
  animation: pulse 150ms ease-in-out forwards;
}
.modal-container.visible .modal,
.modal-container.visible .modal-screen {
  display: block;
}

.modal.card {
  background-color: var(--wp--preset--color--page);
  display: none;
  margin: 3px;
  min-width: 330px;
  max-height: 90vh;
  max-width: 33.3333vw;
  overflow: auto;
  z-index: 100;
}
@media (max-width: 576px) {
  .modal.card {
    max-width: 90vw;
  }
}
.modal.card > *:nth-child(2) {
  margin-top: 0;
  padding-right: var(--wp--preset--font-size--lg);
}
.modal.card > *:last-child {
  margin-bottom: 0;
}

.dismiss-modal {
  background-color: LightGray;
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: 1px solid LightSlateGray;
  border-radius: 9999px;
  cursor: pointer;
  height: var(--wp--preset--font-size--lg);
  line-height: 1;
  margin: 0;
  padding: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  text-decoration: none;
  width: var(--wp--preset--font-size--lg);
}
.dismiss-modal:hover {
  text-decoration: none;
}

.modal-screen {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 90;
}

@media print {
  .site-header-primary-nav {
    box-shadow: none;
  }

  nav,
#footer-widgets {
    display: none !important;
  }

  footer {
    margin-top: 1em;
  }
}

/*# sourceMappingURL=frontend.css.map */
